@import 'common.scss';

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow-x : hidden;
}

.container-fluid {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}
