@import 'node_modules/retinajs/dist/_retina.scss';

$primary-color: rgb(80,227,194);
$text-color: rgb(43,43,43);
$gray-color: rgb(238,242,245);
$black-color: rgb(25,25,25);
$purple-color: rgb(75,68,141);
$yellow-color: rgb(255,201,5);

%page-margin {
  @media (min-width: 1px) {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  @media (min-width: 768px) {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

%section-margin {
  @media (min-width: 1px) {
    margin-bottom: 70px;
  }
  @media (min-width: 768px) {
    margin-bottom: 200px;
  }
}

%section2-margin {
  @media (min-width: 1px) {
    margin-bottom: 55px;
  }
  @media (min-width: 768px) {
    margin-bottom: 200px;
  }
}

%section3-margin {
  @media (min-width: 1px) {
    margin-bottom: 55px;
  }
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

%title-margin {
  @media (min-width: 1px) {
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

%title2-margin {
  @media (min-width: 1px) {
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

%inverse-title-margin {
  @media (min-width: 1px) {
    margin-bottom: -20px;
  }
  @media (min-width: 768px) {
    margin-bottom: -30px;
  }
}

%inverse-section3-margin {
  @media (min-width: 1px) {
    margin-bottom: -55px;
  }
  @media (min-width: 768px) {
    margin-bottom: -100px;
  }
}

%content-margin {
  @media (min-width: 1px) {
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}

%content-heading-margin {
  margin-bottom: 5px;
}

%bottom-nav-margin {
  @media (min-width: 1px) {
    margin-top: -35px;
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {
    margin-bottom: 200px;
  }
}

.grayBackground {
  background: $gray-color;
}

.hide_mobile {
  display: none;
}

@media (min-width: 1px) {
  body {
    h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.17;
    }
    h2 {
      font-weight: bold;
      font-size: 24px;
    }
    h3 {
      font-weight: bold;
      font-size: 20px
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 12px;
    }
    button {
      font-size: 25px;
    }
  }

  %statementText {
    font-size: 18px;
    line-height: 1.55;
  }
}

// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    h1 {
      font-weight: bold;
      font-size: 65px;
      line-height: 1.17;
    }
    h2 {
      font-weight: bold;
      font-size: 36px;

    }
    h3 {
      font-weight: bold;
      font-size: 20px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 12px;
    }
    button {
      font-size: 25px;
    }
  }

  %statementText {
    font-size: 36px;
    line-height: 1.55;
  }

  .hide_mobile {
    display: block;
  }

  $secion-margin: 200px;
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }


a {
  position: relative;
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: $text-color;
  text-decoration: none;
}

a:hover::after {
  @extend .highlight-drop;
  top: 50%;
}

.highlight {
  position: relative;
  z-index: 1;
}


.highlight-drop {
  content: "";
  background-color: $primary-color;
  height: 36%;
  width: 100%;
  position: absolute;
  display: block;
  border-radius: 50px;
  top: 49%;
  left: 0px;
  z-index: -1;
}

.highlight::after {
  @extend .highlight-drop;
}

.fitImage {
  width: 100%;
  height: auto;
}

.fullImage {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  overflow-x: hidden;
}

.imageWrapper {
  padding-bottom: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
