@import 'common.scss';

.p1 {
  @media (min-width: 1px) {
    .fullWidthYShift {
      transform: translate(0, 30%);
    }
  }

  @media (min-width: 992px) {
    .fullWidthYShift {
      transform: translate(0, 30%);
    }
  }
}

.p3 {
  @media (min-width: 1px) {
    .fullWidthYShift {
      transform: translate(0, 17%);
    }
  }

  @media (min-width: 992px) {
    .fullWidthYShift {
      transform: translate(0, 17%);
    }
  }
}



.project {
  position: relative;

  text-align: left;

  @media (min-width: 1px) {
    .topPanelCategory {
      font-size: 13px;
      margin-bottom: 0;
    }
    .topPanelTitle {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .topPanelDescription {
      font-size: 15px;
      font-weight: lighter;
    }

    .gd1 {
      padding-top: 74%;

      img {
        width: 90%;
        transform: translate(0, 0);
      }
    }

    .gd3 {
      padding-top: 74%;

      img {
        width: 30%;
        transform: translate(0, 0);
      }
    }

    .p1_3 {
      width: 200%;
      transform: translateX(-27%);
    }

    .p1_4 {
      width: 200%;
      transform: translateX(-23%);
    }
    .p1_5 {
      width: 200%;
      transform: translateX(-25%);
    }

    .p1_6 {
      width: 200%;
      transform: translateX(-15%);
    }
    .p1_7 {
      width: 200%;
      transform: translateX(-25.5%);
    }
    .p1_8 {
      width: 200%;
      transform: translate(-27%, -15%);
    }

    .p1_5_1_text {
      display: none;
    }
    .p1_6_1_text {
      display: none;
    }
    .conclusion {
      padding: 35px 0;
    }

  }

  @media (min-width: 992px ) {
    .projectATitle {
      position: absolute;
      top: 192px;
      color: white;

      .topPanelCategory {
        font-size: 25px;
        margin-bottom: 0;
      }
      .topPanelTitle {
        font-size: 65px;
        font-weight: bold;
        margin-bottom: 26px;
      }
    }

    .gd1 {
      padding-top: 675px;

      img {
        width: 90%;
        transform: translate(17%, 0);
      }
    }

    .gd3 {
      padding-top: 675px;

      img {
        width: 90%;
        transform: translate(17%, 0);
      }
    }

    .p_text {
      position: absolute;
      z-index: 1;
      margin: 0;
    }
    .p1_1_text {
      top: 25%;
      text-align: right;
      right: 50%;
    }
    .p1_2_text {
      width: 40%;
      max-width: 350px;
      left: 50%;
      top: 21%;
      transform: translate(35%, 0);
    }
    .p1_3_text {
      max-width: 1080px;
      width: 100%;
      top: 70%;
      left: 50%;
      margin: 15px;
      transform: translate(-50%, 0);

      .description {
        width: 50%;
      }
    }
    .p1_5_1_text {
      display: block;
      top: 6%;
      right: 66%;
      img {
        width: 60%;
      }
    }
    .p1_6_1_text {
      display: block;
      max-width:750px;
      top: 60%;
      left: 65%;
      text-align: right;
      img {
        width: 80%;
      }
    }

    .p1_3 {
      width: 150%;
      transform: translateX(-10%);
    }

    .p1_4 {
      width: 150%;
      transform: translateX(-13%);
    }
    .p1_5 {
      width: 150%;
      transform: translateX(-13%);
    }

    .p1_6 {
      width: 150%;
      transform: translateX(-20%);
    }
    .p1_7 {
      width: 150%;
      transform: translateX(-16%);
    }
    .p1_8 {
      width: 150%;
      transform: translateX(-20%);
    }

    .problemImage {
      margin-top: -88px;
    }

    .solution.content {
      margin-left: 100px;
      margin-right: 100px;
    }

    .conclusion {
      margin-top: -100px;
      margin-bottom: 100px;
      padding: 100px 0;
    }
  }

  .topPanelDescription {
    font-size: 15px;
    font-weight: normal;
    @extend %section-margin;
  }

  .sectionPanel {
    @extend %section-margin;
  }

  .section {
    @extend %title2-margin;
    margin-top: 5px;
  }

  .section.textOnly {
    @extend %title-margin;
  }

  .content {
    @extend h4;
    @extend %title-margin;

  }

  .section::after {
    background-color: $black-color;
    height: 5%;
    top: -5px;
  }

  .examples {
    background-color: $gray-color;
    color: $purple-color;

    .title {
      @extend h2;
      @extend %content-margin;

      .location-icon {
        position: relative;
        top: 6px;
        margin-left: -12px;
        font-size: 160%;

      }
    }
    .description {
      @extend h4;
      @extend %content-margin;
    }
  }

  .conclusion {
    background-color: $purple-color;
    color: white;

    .content {
      margin-bottom: 0;
    }
  }

  .insights_date {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    text-align: right;

    @extend h6;
  }
}

.left-col-icon {
  float: left;
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}


.p_text {
  margin: 20px 30px;
}

.insight_summary {
  @extend %title-margin;
  padding-right: 5%;
}

.insight_entry {
  @extend %title-margin;
  display: flex;
}

.insight_title {
  @extend h3;
  @extend %content-heading-margin;
  font-weight: bold;
}

.insight_profile {
  margin-right: 20px;
}

.insight_statement{
  font-style: italic;
  margin-bottom: 16px
}

.insight_name{
  font-weight: bold;
}

.fullImage.gd1 img{
  max-width: 916px;
  min-width: 355px;
  height: auto;
}

.fullImage.gd3 img{
  max-width: 500px;
  min-width: 122px;
  height: auto;
}

.fullImage > img {
  height: auto;
}

.fullWidthBoundHeightPanel {
  @extend .fullImage;
  @extend %section-margin;

  overflow: visible;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fullWidthYShift {
  position: absolute;
  max-width: 1240px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  transform: translate(0, 30%);
}

.budget {
  display: flex;
  @extend %content-margin;
}

.solution.content {
  @extend %title2-margin;
}

.persona_profile {
  @extend %title2-margin;

  font-size: 14px;
  text-align: center;

  > img {
    width: 100%;
    margin-bottom: 30px;
  }

  .persona_name {
    font-size: 18px;
    font-weight: bold;
  }
}

.persona_content {
  @extend %title2-margin;

  font-size: 14px;
  text-align: left;

  .persona_quote {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .persona_env {
    font-weight: bold;
  }
  .persona_text {
    margin-bottom: 20px;
  }
}
.persona_bottom_fix {
  margin-bottom: -100px !important;
}

.sim_content {
  @extend %title2-margin;
  @extend h4;

  .subtitle {
    @extend h3;
  }
}

.sim_description {
  @extend %title-margin;
}

.projectNav {
  @extend %bottom-nav-margin;
  display: flex;
  flex-wrap: wrap;

  .thumb{
    overflow: hidden;
    padding-top: 60%;
    position: relative;
    margin-bottom: 24px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: auto;
    }
  }

  .link {
    @extend %title-margin;
    @extend h4;
    font-weight: bold;
  }

  .workPanelCategory {
    text-align: left;
    font-size: 25px;
    margin-bottom: 13px;
  }

  .workPanelTitle {
    text-align: left;
    font-size: 48px;
  }
  
  .gd4 > img {
    transform: translate(-50%, -40%);
    width: 80%;
  }
  .gd2 > img {
    transform: translate(-50%, -40%);
    width: 70%;
  }
}
